@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

.main {
  padding: 2rem;
  background-color: #000000;
}

.card {
  background-color: rgb(20, 20, 20);
}

.image {
  width: 100%;
  border-radius: 5%;
}

.body {
  padding: 2rem;
}

.title {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.item {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}